.signin-box {

  width: 300px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.google-signin {
  vertical-align: middle;
  height: 100%;
}

.g {
  display: block;
  position: relative;
  top: 28%;
}

.photo {
  border-radius: 100%;
}